body {
    background: #3a3a3a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #FFFFFF;

}

header {
    color: #FFFFFF;

}

section {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: #000000;
    box-shadow: 2px 3px 3px #3a3a3a;
    
}

footer {
    font-style: italic;
}